{% extends "base.html" %}

{% block content %}
<hr>
</br>
</br>
<div class="container">
	<div class="col-md-8" >
		<div class="pull-left">
			<h2>Create a new survey <a href = '/create_new'> <span class="glyphicon glyphicon-glyphicon glyphicon-plus-sign" aria-hidden="true"></span> </a></h2>
				<p>You can create a new survey by clicking on the +. Be ready with the audio/video links!</p>
		</div>
	</div>
	<div class="col-md-4" >
		<div class="pull-right">
			<h2>Your surveys</h2>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  				<div class="panel panel-default">
    				<div class="panel-heading" role="tab" id="headingOne">
      					<h4 class="panel-title">
        				<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          				Survey 1 
        				</a>
      					</h4>
    				</div>
    				<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      					<div class="panel-body">
        				105 people took this survey.</br>
        				1.What part of the video helped to identify: </br>
        				2.Audio or Video: </br>
        				3.How confident are you: </br>
        				<div id="container1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        				23 <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">
        				
        					
        				
      					</div>
    				</div>
  				</div>
  				<div class="panel panel-default">
    				<div class="panel-heading" role="tab" id="headingTwo">
      					<h4 class="panel-title">
        				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          				Survey 2
        				</a>
      					</h4>
    				</div>
    				<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      					<div class="panel-body">
        				15 people took this survey.</br>
        				<div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        				 13 <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> 
      					</div>
    				</div>
  				</div>
  				<div class="panel panel-default">
   					<div class="panel-heading" role="tab" id="headingThree">
      					<h4 class="panel-title">
        				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          				Survey 3
        				</a>
     		 			</h4>
    				</div>
    				<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      					<div class="panel-body">
        				225 people took this survey.</br>
        				<div id="container3" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        				30 <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> 
      					</div>
    				</div>
  				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(function () {

	$("#details").click(function(){
        $("#contents1").hide();
    });
    $("#details").click(function(){
        $("#contents1").show();
    });
	
    $('#container1').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Result of your Survey'
        },
        
        xAxis: {
            categories: [
                'Post1',
                'Post2',
                'Post3',
                'Post4'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Answers'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Birthday',
            data: [49, 71, 106, 129]

        }, {
            name: 'Graduation',
            data: [83, 78, 98, 93]

        }, {
            name: 'Wedding',
            data: [48, 38, 39, 41]

        }, {
            name: 'New Year',
            data: [42, 33, 34, 39]

        }]
    });
    
    $('#container2').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Result of your Survey'
        },
        
         xAxis: {
            categories: [
                'Post1',
                'Post2',
                'Post3',
                'Post4'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Answers'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Birthday',
            data: [49, 71, 106, 129]

        }, {
            name: 'Graduation',
            data: [83, 78, 98, 93]

        }, {
            name: 'Wedding',
            data: [48, 38, 39, 41]

        }, {
            name: 'New Year',
            data: [42, 33, 34, 39]

        }]
    });
    
    $('#container3').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Result of your Survey'
        },
        
         xAxis: {
            categories: [
                'Post1',
                'Post2',
                'Post3',
                'Post4'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Answers'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Birthday',
            data: [49, 71, 106, 129]

        }, {
            name: 'Graduation',
            data: [83, 78, 98, 93]

        }, {
            name: 'Wedding',
            data: [48, 38, 39, 41]

        }, {
            name: 'New Year',
            data: [42, 33, 34, 39]

        }]
    });

});
</script>


		
{% endblock %}
	
	
